<a href="https://colab.research.google.com/github/ClaFlorez/Python_pour_commencer/blob/main/Exercices_python_de_base.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x = 1     # Assign 1 to variable x
print(x)  # Print the value of the variable x
# Output: 1

x + 1
# Output: 2

y = x / 2
y
# Output: 0.5

# You can place multiple statements in one line, separated by semicolon.
print(x); print(x+1); print(x+2)  # No ending semicolon
# Output:
# 1
# 2
# 3

# An expression in brackets [] (i.e., list) can span multiple lines
x = [1,
     22,
     333]  # Re-assign a list denoted as [v1, v2, ...] to variable x
x
# Output: [1, 22, 333]

# An expression in braces {} (i.e., associative array) can also span multiple lines
x = {'name':'Peter',
     'gender':'male',
     'age':21
    }   # Re-assign a dictionary denoted as {k1:v1, k2:v2,...} to variable x
x
# Output: {'name': 'Peter', 'gender': 'male', 'age': 21}

# An expression in parentheses () can also span multiple lines
# You can break a long expression into several lines by enclosing it with parentheses ()
x =(1 +
    2
    + 3
    -
    4)
x
# Output: 2

# You can break a long string into several lines with parentheses () too
s = ('testing '   # No commas
     'hello, '
     'world!')
s
# Output: 'testing hello, world!'
° °

1
1
2
3

'testing hello, world!'

In [ ]:
2 ** 2  # 2 elevado a 888
s1 = 'pomme'
s1
s2 = "orange"
s2
s3 ="\"orange\""
s3

'"orange"'

In [ ]:
s3 ="\"orange\""
s3

'"orange"'

In [ ]:
s4 = """testing
12345"""
s4

'testing\n12345'

In [ ]:
x = 1,23456
type(x)
round(x)

TypeError: type tuple doesn't define __round__ method

In [ ]:
type(123)
#<class 'int'>

int

## **1️⃣ Boucles `while`**
1. Écrivez une boucle `while` qui affiche les nombres de 1 à 10.
2. Modifiez votre boucle pour qu’elle n’affiche que les nombres pairs entre 1 et 10.
3. Créez une boucle `while` qui demande à l’utilisateur de saisir un nombre positif. Si l’utilisateur entre un nombre négatif, la boucle s’arrête.
4. Utilisez une boucle `while` pour calculer la somme des nombres de 1 à 100.
5. Implémentez un programme qui demande un mot de passe à l’utilisateur jusqu’à ce qu’il entre `"Python123"`.

In [2]:
#01 boucle while : nombres de 1 a 10
i = 1
while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

In [3]:
#02 boucle while, afficher les pairs
i = 2
while i <= 10:
    print(i)
    i += 2

2
4
6
8
10

In [4]:
#02 boucle while, afficher les pairs * copilot
i = 1
while i <= 10:
    if i % 2 == 0:
        print(i)
    i += 1

2
4
6
8
10

In [5]:
#Créez une boucle while qui demande à l’utilisateur de saisir un nombre positif. Si l’utilisateur entre un nombre négatif, la boucle s’arrête.
while True:
    nombre = int(input("Entrez un nombre positif : "))
    if nombre < 0:
        break
    print("Vous avez saisi :", nombre)

Entrez un nombre positif : 3
Vous avez saisi : 3
Entrez un nombre positif : -1

In [6]:
#Utilisez une boucle while pour calculer la somme des nombres de 1 à 100.

somme = 0
i = 1
while i <= 100:
    somme += i
    i += 1
print("La somme des nombres de 1 à 100 est :", somme)

La somme des nombres de 1 à 100 est : 5050

In [22]:
#05 option poussé avec un for
import getpass

attempts = 3  # Allow 3 attempts

for _ in range(attempts):
    password = getpass.getpass("Enter the password: ")
    if password == "Python123":
        print("Welcome!")
        break  # Exit the loop if the password is correct
    else:
        print("Incorrect password. Please try again.")
else:
    print(f"Access denied after {attempts} attempts.")

Enter the password: ··········
Incorrect password. Please try again.
Enter the password: ··········
Incorrect password. Please try again.
Enter the password: ··········
Incorrect password. Please try again.
Access denied after 3 attempts.

In [19]:
#05 Implémentez un programme qui demande un mot de passe à l’utilisateur jusqu’à ce qu’il entre "Python123".
import getpass
i=1
mot_de_passe = ""
while mot_de_passe != "Python123" and i<=3:
    mot_de_passe = getpass.getpass("Entrez le mot de passe: ")
    if mot_de_passe == "Python123":
        print("Bienvenue !")
    else:
      i+=1
if mot_de_passe != "Python123":
    print("Accès refusé après 3 tentatives.")

Entrez le mot de passe: ··········
Entrez le mot de passe: ··········
Entrez le mot de passe: ··········
Accès refusé après 3 tentatives.

**2️⃣ Boucles `for`**
6. Écrivez une boucle `for` qui affiche les nombres de 1 à 10.
7. Utilisez une boucle `for` pour afficher les éléments d’une liste `["pomme", "banane", "cerise"]`.
8. Écrivez un programme qui affiche chaque lettre du mot `"PYTHON"`, une par ligne.
9. Utilisez `range()` dans une boucle `for` pour afficher les nombres de 5 à 50 avec un pas de 5.
10. Écrivez une boucle `for` qui calcule la somme des nombres de 1 à 50.

In [23]:
#06 Écrivez une boucle for qui affiche les nombres de 1 à 10.
for i in range(1, 11):
    print(i)
#

1
2
3
4
5
6
7
8
9
10

In [25]:
#06 autre facon de faire
i=1
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [26]:
#07 Utilisez une boucle for pour afficher les éléments d’une liste ["pomme", "banane", "cerise"]
fruits = ["pomme", "banane", "cerise"]
for fruit in fruits:
    print(fruit)

pomme
banane
cerise

In [27]:
#07 autre version
fruits = ["pomme", "banane", "cerise"]
for i, fruit in enumerate(fruits):
    if i < len(fruits) - 1:
        print(fruit, end=", ")
    else:
        print(fruit)

pomme, banane, cerise

In [28]:
#08 Écrivez un programme qui affiche chaque lettre du mot "PYTHON", une par ligne.
mot = "PYTHON"
for lettre in mot:
    print(lettre)

P
Y
T
H
O
N

In [29]:
#08 autre option
mot = "PYTHON"
for i, lettre in enumerate(mot):
    if i < len(mot) - 1:
        print(lettre, end=", ")
    else:
        print(lettre)

P, Y, T, H, O, N

In [30]:
#09 Utilisez range() dans une boucle for pour afficher les nombres de 5 à 50 avec un pas de 5.
for i in range(5, 51, 5):
    print(i)

5
10
15
20
25
30
35
40
45
50

In [31]:
#10 Écrivez une boucle for qui calcule la somme des nombres de 1 à 50.
somme = 0
for i in range(1, 51):
    somme += i
print("La somme des nombres de 1 à 50 est :", somme)

La somme des nombres de 1 à 50 est : 1275

**3️⃣ Listes**
11. Créez une liste `nombres` contenant les valeurs `[1, 2, 3, 4, 5]`. Ajoutez le nombre `6` à la fin.
12. Remplacez le troisième élément de la liste par `100`.
13. Supprimez le premier élément de la liste sans utiliser `del`.
14. Écrivez une fonction qui prend une liste de nombres et retourne la somme des éléments.
15. Créez une liste `mots` contenant 5 mots. Utilisez une boucle `for` pour afficher chaque mot en majuscu

In [59]:
#11 Créez une liste nombres contenant les valeurs [1, 2, 3, 4, 5]. Ajoutez le nombre 6 à la fin
nombres = [1, 2, 3, 4, 5]
nombres.append(6)
print(nombres)

[1, 2, 3, 4, 5, 6]

In [50]:
#12 Remplacez le troisième élément de la liste par 100
nombres[2] = 100
print(nombres)

[1, 2, 100, 4, 5, 6]

In [42]:
#13 Supprimez le premier élément de la liste sans utiliser del.
nombres.pop(0)
print(nombres)

[2, 100, 4, 5, 6]

In [57]:
#13 autre facon si j'ai connais la valeur du premier element
eliminer = nombres[0]
nombres.remove(eliminer)
print(nombres)

[4, 5, 6]

In [55]:
#14 Écrivez une fonction qui prend une liste de nombres et retourne la somme des éléments.
def somme_liste(nombres):
    somme = 0
    for nombre in nombres:
        somme += nombre
    return somme
print(somme_liste(nombres))

115

In [60]:
#autre 14
def somme_liste(nombres):
    return sum(nombres)
print(somme_liste(nombres))

21

In [77]:
#15 Créez une liste mots contenant 5 mots. Utilisez une boucle for pour
#afficher chaque mot en majuscu
quantite_mots =int(input("Entrez combien de mots vous voulez remtrer :"))
def creer_liste(nb_mots):
    mots = []
    for i in range(nb_mots):
        mot = input("Entrez un mot : ")
        mots.append(mot)
    return mots
def changer_maj(mot):
    for i in range(len(mot)):
        mot[i] = mot[i].upper()
    return mot
liste = creer_liste(quantite_mots)
print(changer_maj(liste))

Entrez combien de mots vous voulez remtrer :3
Entrez un mot : juan
Entrez un mot : tili
Entrez un mot : yau
['JUAN', 'TILI', 'YAU']

In [78]:
#15 autre
mots = ["pomme", "banane", "cerise", "orange", "kiwi"]
for mot in mots:
    print(mot.upper())

POMME
BANANE
CERISE
ORANGE
KIWI

**4️⃣ Listes et Compréhensions de Listes**
16. Créez une liste de carrés des nombres de 1 à 10 en utilisant une boucle `for`.
17. Utilisez une **compréhension de liste** pour générer la même liste.
18. Créez une liste contenant uniquement les nombres pairs de 1 à 20 en une seule ligne avec une **compréhension de liste**.
19. Écrivez une fonction qui filtre une liste pour ne garder que les mots qui ont plus de 5 lettres.
20. À partir d’une liste de nombres `[10, 20, 30, 40]`, créez une nouvelle liste contenant les mêmes nombres divisés par 2.

In [82]:
#16 Créez une liste de carrés des nombres de 1 à 10 en utilisant une boucle for.
quarer = []
for i in range(1, 11):
    quarer.append(i**2)
print(quarer)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [83]:
#17 Utilisez une compréhension de liste pour générer la même liste.
carres = [i ** 2 for i in range(1, 11)]
print(carres)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [84]:
#18 Créez une liste contenant uniquement les nombres pairs de 1 à 20 en une seule ligne avec une compréhension de liste.
pairs = [i for i in range(2, 21, 2)]
print(pairs)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [85]:
#19 Écrivez une fonction qui filtre une liste pour ne garder que les mots qui ont plus de 5 lettres.
def filtrer_mots(liste_mots):
    return [mot for mot in liste_mots if len(mot) > 5]

mots = ["pomme", "banane", "cerise", "orange", "kiwi"]
mots_longs = filtrer_mots(mots)
print(mots_longs)

['banane', 'cerise', 'orange']

In [86]:
#20 prompt: À partir d’une liste de nombres [10, 20, 30, 40], créez une nouvelle
#liste contenant les mêmes nombres divisés par 2.
nombres = [10, 20, 30, 40]
nombres_divises = [nombre / 2 for nombre in nombres]
nombres_divises

[5.0, 10.0, 15.0, 20.0]

In [89]:
#20 autre
def diviser_par_deux(liste_nombres):
    return [nombre / 2 for nombre in liste_nombres]
def liste_nombres(nb):
    nombres = []
    for i in range(nb):
        nombre = int(input("Entrez un nombre : "))
        nombres.append(nombre)
    return nombres
a_diviser = liste_nombres(int(input("Combien de nombres voulez vous diviser ?")))
nombres_divises = diviser_par_deux(a_diviser)
nombres_divises

Combien de nombres voulez vous diviser ?2
Entrez un nombre : 1500
Entrez un nombre : 2305

[750.0, 1152.5]

**5️⃣ Dictionnaires**
21. Créez un dictionnaire `eleve` contenant les clés `"nom"`, `"âge"` et `"classe"` avec des valeurs de votre choix.
22. Ajoutez une nouvelle clé `"note"` avec la valeur `15`.
23. Modifiez l’âge de l’élève dans le dictionnaire.
24. Supprimez la clé `"classe"` du dictionnaire.
25. Écrivez une boucle `for` qui affiche toutes les **clés** du dictionnaire.

In [91]:
#21 Créez un dictionnaire eleve contenant
#les clés "nom", "âge" et "classe" avec des valeurs de votre choix.
eleve = {
    "nom": "Jean Dupont",
    "âge": 16,
    "classe": "Première"
}
print(eleve)

{'nom': 'Jean Dupont', 'âge': 16, 'classe': 'Première'}

In [92]:
#21 autre
# Get input from the user for each key
nom = input("Entrez le nom de l'élève : ")
age = int(input("Entrez l'âge de l'élève : "))  # Convert age to an integer
classe = input("Entrez la classe de l'élève : ")

# Create the dictionary using the input values
eleve = {
    "nom": nom,
    "âge": age,
    "classe": classe
}

# Print the dictionary
print(eleve)

Entrez le nom de l'élève : claudia
Entrez l'âge de l'élève : 90
Entrez la classe de l'élève : geriatrico
{'nom': 'claudia', 'âge': 90, 'classe': 'geriatrico'}

In [96]:
#22 Ajoutez une nouvelle clé "note" avec la valeur 15.
note = input("Entrez la note de l'élève : ")
eleve["note"] = note
print(eleve)

Entrez la note de l'élève : 15
{'nom': 'claudia', 'âge': 90, 'classe': 'geriatrico', 'note': '15'}

In [97]:
#23 Modifiez l’âge de l’élève dans le dictionnaire
age = int(input("Entrez l'âge de l'élève : "))
eleve["âge"] = age
print(eleve)

Entrez l'âge de l'élève : 45
{'nom': 'claudia', 'âge': 45, 'classe': 'geriatrico', 'note': '15'}

In [98]:
#24 Supprimez la clé "classe" du dictionnaire.
del eleve["classe"]
print(eleve)

{'nom': 'claudia', 'âge': 45, 'note': '15'}

In [99]:
#25 Écrivez une boucle for qui affiche toutes les clés du dictionnaire.
for key in eleve:
    print(key)

nom
âge
note